table.todos tbody tr:first-child td {
    border-top: none;
}
table.todos input.text {
    width: 100%;
    border: none;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.danger {
    color: #d43f3a;
}

.danger:hover {
    color: #000000;
}

html, body, .login-screen{
    height: 100%;
}
.logo-big {
    font-size: 70px;
}
.login-link {
    color: #34495e;
}

.message {
    margin-top: 20px;
}

.footer {
    background-color: #f5f5f5;
}

.todo-filters {
    float: right;
    margin-top: 70px;
}